/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 33, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}

/* line 51, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 53, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 54, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 55, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 56, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 57, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 58, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 59, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 62, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #004c99;
}
/* line 21, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #0099ff;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #0099ff;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #bf00ff;
}

/* line 63, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 64, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong, dfn {
  font-weight: bold;
}

/* line 65, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em, dfn {
  font-style: italic;
}

/* line 66, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 67, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 68, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 69, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 70, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 71, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 72, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 73, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 74, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 75, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 76, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 78, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 79, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 80, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 81, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 82, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 85, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table.striped tr:nth-child(even) td,
table tr.even td {
  background: #e5ecf9;
}

/* line 86, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 87, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 88, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 89, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

/* line 12, ../_sass/screen.sass */
body {
  margin: 0;
  font-size: 12pt;
}

/* line 15, ../_sass/screen.sass */
pre {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: whiteSmoke;
  padding: 8.5px;
  overflow-x:auto;
}

/* line 19, ../_sass/screen.sass */
table {
  border: 1px solid #dddddd;
  border-collapse: separate;
}

/* line 22, ../_sass/screen.sass */
td {
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

/* line 26, ../_sass/screen.sass */
.opening {
  overflow: hidden;
  margin-top: 20px;
}

/* line 29, ../_sass/screen.sass */
.left {
  float: left;
}

/* line 31, ../_sass/screen.sass */
.image {
  width: 300px;
  margin-top: -50px;
}

/* line 34, ../_sass/screen.sass */
.description {
  width: 500px;
}

/* line 37, ../_sass/screen.sass */
header {
  height: 70px;
  border-bottom: 1px solid #ededed;
  background: #f2f2f2;
  padding: 15px;
  /*overflow: hidden;*/
  margin-bottom: 20px;
}
/* line 44, ../_sass/screen.sass */
header nav {
  float: right;
/*  margin-right: 200px;*/
  margin-bottom: 20px;
}
/* line 48, ../_sass/screen.sass */
header ul {
  list-style: none;
  display: inline;
  margin-top: 5px;
}
/* line 52, ../_sass/screen.sass */
header ul li {
  float: left;
  font-weight: bold;
  margin-right: 15px;
  font-size: 11pt;
  color: #3484e6;
}
/* line 58, ../_sass/screen.sass */
header h1 {
  font-size: 30pt;
  margin-bottom: 0px;
  color: #515255;
  /*float: left;*/
  text-shadow: 0 1px #cccccc;
}
/* line 64, ../_sass/screen.sass */
header h2 {
  color: #acb3ba;
  /*float: left;*/
  font-size: 12pt;
  padding-top: 0px;
  /*margin-left: 10px;*/
}

/* line 70, ../_sass/screen.sass */
h3 {
  text-shadow: 0 1px #cccccc;
}

/* line 73, ../_sass/screen.sass */
.container {
/*    Margin:0px 5px 50px 180px;*/
  width: 65em;
  margin: 0 auto;
}

#logo {
    position:absolute;
    margin:0px 0px;
}

body { padding-bottom:10px; background-color:#ddd; }

header ul, header ol {
  margin:0;
  padding-left:0;
}
header nav {
	float:right;
	display:block;
	clear:right;
}

.header {
	width:380px;
	overflow:hidden;
	}
	#logo {
		width:300px;
		height:45px;
		display:block;
		background:url(../media/electrum_text.png) no-repeat 0 0;
		background-image: -webkit-image-set( url(../media/electrum_text.png) 1x, url(../media/electrum_text.png) 2x);
		background-size:300px 45px;
		}
		#logo span, #electrum_logo img { position:absolute; top:100%; left:-99999px; }
	
	.header h2 { margin-top:45px; }
	
	#electrum_logo {
		width:70px;
		height:66px;
		display:block;
		float:right;
		background:url(../media/electrum_logo.png) no-repeat 0 0;
		background-image: -webkit-image-set( url(../media/electrum_logo.png) 1x, url(../media/electrum_logo.png) 2x);
		background-size:70px 66px;
	}

nav#translations { margin-top:0 !important; }
.translations a { font-weight:normal; }

section.container { text-align:justify; }

hr + h4 { padding-top:20px; }