<html>
  <head>
    <!--<link rel="stylesheet" type="text/css" href="http://s3.ecdsa.org/style.css" />-->
    <link rel="stylesheet" type="text/css" href="./css/screen.css" />
    <link rel="shortcut icon" href="http://s3.ecdsa.org/favicon.ico" />
    <title>Electrum Bitcoin Client</title>
  </head>
<body>
  <header>
    <div class="container">
      <h1>Electrum</h1> 
      <h2>The user friendly bitcoin client</h2>
    </div>
    <nav class="right">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="download.html">Download</a></li>
        <li>Developers</li>
        <li><a href="credits.html">Credits</a></li>
      </ul>
    </nav>
  </header>

  <div class="container"> 
    {{ content }}
  </div>
</body>
</html>

