<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://s3.ecdsa.org/style.css" />
    <link rel="shortcut icon" href="http://s3.ecdsa.org/favicon.ico" />
    <title>Electrum Bitcoin Client</title>
  </head>
<body style="background-color:#dddddd;">

  <div id="logo">
    <a href="/">
      <img src="http://s3.ecdsa.org/bc_logo.png" alt="Electrum" border="none" />
    </a> 
  </div>

  <div id="navigation" style="color:#185099;">
  </div>

  <div style="margin-left:180px; margin-bottom:-50px;">
    <img src="http://s3.ecdsa.org/electrum_text.png" alt="Electrum" border="none" width="400px"/>
  </div>

  <div id="content" style="background-color:#ffffff;">
    {{ content }}
  </div>
</body>
</html>

